<button class="closeButton" mat-fab (click)="cancelStepper()">
  <mat-icon>close</mat-icon>
</button>
<app-content-wrapper>
  <mat-horizontal-stepper class="stepper" *ngIf="isDesktop" [selectedIndex]="currentStep">
    <mat-step>
      <ng-template matStepLabel>Mitarbeiter scannen</ng-template>
      <div>
        <button mat-flat-button (click)="popupService.openStepDialog(ScanComponent, getCurrentStateOfDataset({ stepId: 'mitarbeiter_id'}), scanCallback)" [disabled]="0 !== currentStep">
          Bitte Mitarbeiter-Karte scannen
        </button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Patient scannen</ng-template>
      <div>
        <button mat-flat-button (click)="popupService.openStepDialog(ScanComponent, getCurrentStateOfDataset({ stepId: 'patient_id'}), scanCallback)" [disabled]="1 !== currentStep">
          Bitte Patienten-Armband scannen
        </button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Laborauftrag bearbeiten</ng-template>
      <div>
        <button mat-flat-button (click)="popupService.openStepDialog(LaborauftragDialogComponent, getCurrentStateOfDataset({ stepId: 'laborauftrag', style: GenericDialogType.TABLE }), laboratoryCallback)" [disabled]="2 !== currentStep">
          Laboraufträge auswählen
        </button>
        <app-laborauftrag-selected [laborauftrags]="laborauftrags" [authorization]="scanData"></app-laborauftrag-selected>
      </div>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Summary</ng-template>
      <div>
        <h3>Summary</h3>
        <p>Employee: {{ scanData.mitarbeiter_id }}</p>
        <p>Patient: {{ scanData.patient_id }}</p>
        <p>Selected Laboratory Orders:</p>
        <ul>
          <li *ngFor="let laborauftrag of laborauftrags">
            {{ laborauftrag.id }}
            {{ laborauftrag.status }}
            {{ laborauftrag.description }}
            {{ laborauftrag.datum }}
          </li>
        </ul>
        <button mat-flat-button (click)="submitData()" [disabled]="submitting">
          {{ submitting ? 'Submitting...' : 'Submit' }}
        </button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>

  <mat-vertical-stepper *ngIf="!isDesktop" [selectedIndex]="currentStep">
    <mat-step>
      <ng-template matStepLabel>Mitarbeiter scannen</ng-template>
      <div>
        <button mat-flat-button (click)="popupService.openStepDialog(ScanComponent, getCurrentStateOfDataset({ stepId: 'mitarbeiter_id' }), scanCallback)" [disabled]="0 !== currentStep">
          Bitte Mitarbeiter-Karte scannen
        </button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Patient scannen</ng-template>
      <div>
        <button mat-flat-button (click)="popupService.openStepDialog(ScanComponent, getCurrentStateOfDataset({ stepId: 'patient_id' }), scanCallback)" [disabled]="1 !== currentStep">
          Bitte Patienten-Armband scannen
        </button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Laborauftrag bearbeiten</ng-template>
      <div>
        <button mat-flat-button (click)="popupService.openStepDialog(LaborauftragDialogComponent, getCurrentStateOfDataset({ stepId: 'laborauftrag', style: GenericDialogType.TABLE }), laboratoryCallback)" [disabled]="2 !== currentStep">
          Laboraufträge auswählen
        </button>
        <app-laborauftrag-selected [laborauftrags]="laborauftrags"></app-laborauftrag-selected>
      </div>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Summary</ng-template>
      <div>
        <h3>Summary</h3>
        <p>Employee: {{ scanData.mitarbeiter_id }}</p>
        <p>Patient: {{ scanData.patient_id }}</p>
        <p>Selected Laboratory Orders:</p>
        <ul>
          <li *ngFor="let laborauftrag of laborauftrags">
            {{ laborauftrag.id }}
            {{ laborauftrag.status }}
            {{ laborauftrag.description }}
            {{ laborauftrag.datum }}
          </li>
        </ul>
        <button mat-flat-button (click)="submitData()" [disabled]="submitting">
          {{ submitting ? 'Submitting...' : 'Submit' }}
        </button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</app-content-wrapper>
